@import "tailwindcss";
@import url('https://cdn.jsdelivr.net/npm/font-nanum@1.0/nanumsquare.css');

:root {
  --background:#F1F5F9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'NanumSquare', Arial, Helvetica, sans-serif;
}


@theme {
  --breakpoint-md: 745px;
  --breakpoint-xs: 376px;

  --color-slate-100: #F1F5F9;
  --color-slate-200: #E2E8F0;
  --color-slate-300: #CBD5E1;
  --color-slate-400: #94A3B8;
  --color-slate-500: #64748B;
  --color-slate-800: #1E293B;
  --color-slate-900: #0F172A;

  --color-violet-100: #EDE9FE;
  --color-violet-600: #7C3AED;

  --color-rose-500: #F43F5E;

  --color-lime-300: #BEF264;

  --color-amber-800: #92400E;
}



@layer components {
  
  .btn-shadow {
    @apply shadow-[4px_4px_0px_theme(colors.slate.900)];
  }
  .border-bold{
    @apply border-2 border-slate-900
  }
  .page-container{
    @apply relative top-[60px] max-w-[1200px] p-3 flex mx-auto xs:p-5
  }
  
  .todo-section {
    @apply flex flex-col w-full md:w-1/2 
  }

}


/* 텍스트 스크롤바 스타일 */
textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #FDE68A;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-track {
  background-color: transparent;
}